[10.10.10.201] 
user=root
password=


[server]

[mysqld]

datadir=/var/data
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mariadb/mariadb.log
pid-file=/run/mariadb/mariadb.pid



bind-address = 0.0.0.0